body{margin:0;}
.container{
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
    background-color: bisque;
    text-align: center;
    box-sizing: border-box;
    height:500px;
}


.modernBTN{
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.8s ease;
    font-weight: bold;
    font-size: 1em;
}
.modernBTN:hover{
    background-color: lightblue;
}