body{
    margin:0;
    background-color: blanchedalmond;
}

.container{
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
    background-color: bisque;
    text-align: center;
    box-sizing: border-box;
    height:2500px;
}

.container nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
/*NavBar*/
.container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: black; */


  
  }
  .container nav ul li {
    float: left;
  }
  
  .container nav ul li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.8s ease;
  }
  
  .container nav ul li a:hover:not(.active) {
    color: #337ab7;
  }
  
  .container nav ul li .active {
    background-color: #04AA6D;
  }



.modernBTN{
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;

    font-weight: bold;
    font-size: 1em;
}
.modernBTN:hover{
    background-color: lightblue;
}




.container-box-category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}
.category-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
.category-logo {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .container-box-category {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .container-box-category {
      grid-template-columns: 1fr;
  }
}